---
Title: Portfolio
---

<h2 class="my-4 text-2xl font-bold">Highlights</h2>
<div
  class="absolute left-0 -z-10 w-screen overflow-x-clip md:relative md:w-full md:overflow-x-visible"
>
  <div
    class="bg-emerald-400/30 dark:bg-emerald-600/30 absolute h-72 w-72 rounded-full blur-3xl"
  ></div>
  <div
    class="left-72 top-16 bg-cyan-400/30 dark:bg-cyan-600/30 absolute h-72 w-72 rounded-full blur-3xl"
  ></div>
</div>
<div class="mx-auto mb-4 grid grid-cols-1 gap-4 md:grid-cols-3">
<a
    class="group relative h-60 overflow-hidden rounded-xl text-white col-span-1 p-4"
    href="https://l3harris.com"
    ><img
      class="object-cover transition ease-in-out group-hover:scale-105"
      src="/images/l3harris.webp"
      style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
    />
    <div
      class="absolute h-min w-full"
    >
      <div class="text-base drop-shadow-sm">
        Employer
      </div>
      <h1
        class="max-w-lg text-2xl font-bold drop-shadow-sm md:group-first:text-3xl"
      >
        <span
          data-br=":r6:"
          data-brr="1"
          style="display: inline-block; vertical-align: top; text-decoration: inherit;"
          >L3Harris</span
        >
      </h1>
    </div>
</a>
<a
    class="group relative h-60 overflow-hidden rounded-xl text-white col-span-1 p-4"
    href="https://mvp.microsoft.com/en-US/MVP/profile/f18fb5a8-6d27-ed11-9db2-000d3a1028ba"
    ><img
      class="object-cover transition ease-in-out group-hover:scale-105"
      src="/images/mvp.png"
      style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
    />
    <div
      class="absolute h-min w-full"
    >
      <div class="text-base drop-shadow-sm">
        2x Awards
      </div>
      <h1
        class="max-w-lg text-2xl font-bold drop-shadow-sm md:group-first:text-3xl"
      >
        <span
          data-br=":r6:"
          data-brr="1"
          style="display: inline-block; vertical-align: top; text-decoration: inherit;"
          >Microsoft MVP</span
        >
      </h1>
    </div>
</a>
<a
    class="group relative h-60 overflow-hidden rounded-xl text-white col-span-1 p-4"
    href="https://github.com/dotnet/Silk.NET"
    ><img
      class="object-cover transition ease-in-out group-hover:scale-105"
      src="/images/silkdotnet.png"
      style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
    />
    <div
      class="absolute h-min w-full"
    >
      <div class="text-base drop-shadow-sm">
        Open-Source Projects
      </div>
      <h1
        class="max-w-lg text-2xl font-bold drop-shadow-sm md:group-first:text-3xl"
      >
        <span
          data-br=":r6:"
          data-brr="1"
          style="display: inline-block; vertical-align: top; text-decoration: inherit;"
          >Silk.NET</span
        >
      </h1>
    </div>
</a>
</div>
<div
  class="mx-auto max-w-lg rounded-lg border border-slate-200 bg-neutral-100/50 p-4 dark:border-slate-800 dark:bg-neutral-900/50 print:hidden md:text-lg"
>
  <span class="font-semibold">Don't need the full scoop? Download the key elements in Résumé/CV format!</span>
  <a href="/cv.pdf" class="flex grow items-center justify-center gap-1 rounded-md bg-emerald-300 px-4 py-2 transition ease-in-out hover:bg-emerald-200 dark:bg-emerald-700 dark:hover:bg-emerald-800">Download Résumé/CV</a>
</div>

<h2 class="my-4 text-2xl font-bold">Timeline</h2>
<div class="timeline-area">
  <div class="container">
    <div class="all-timelines" id="portfolio-timeline">
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>July 2023</h6> — Awarded the Microsoft Most Valuable Professional (MVP) award for 2024 in recognition of
            the continued outstanding &amp; community leadership following my MVP award in 2023.
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>July 2023</h6> — Left L3Harris to pursue a gap year dedicated to open-source projects, side-projects,
            and general portfolio building. Lived in the United States for the duration of this gap year.
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>September 2022</h6> — Awarded the coveted Microsoft Most Valuable Professional (MVP) award in the
            developer technologies category for the outstanding technical &amp; community leadership I provide in the
            open-source space.
            <div class="mx-auto mb-4 grid grid-cols-1 gap-4 md:grid-cols-3">
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://mvp.microsoft.com/en-US/MVP/profile/f18fb5a8-6d27-ed11-9db2-000d3a1028ba">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/mvp.png"/>
              </a>
            </div>
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>April 2022</h6> — Promoted to Software Engineer D at L3Harris, a role I continued in until July 2023.
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>May 2021</h6> — Successfully secured financial sponsorship for Silk.NET through JetBrains' Open-Source
            Power-Ups program, solidifying its position as a recognized and supported project, while leveraging this
            partnership to further enhance the development and publicity of the Silk.NET library. As part of this, I
            delivered a webinar on JetBrains TV to promote both the project and the Open-Source Power-Ups program.
            <div class="mx-auto mb-4 grid grid-cols-1 gap-4 md:grid-cols-3">
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://blog.jetbrains.com/dotnet/2021/04/29/webinar-oss-power-ups-silk-net/">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/jetbrains.png"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://www.youtube.com/watch?v=F6Rq0kbucP0">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/jetbrainsosspu.jpg"/>
              </a>
            </div>
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>March 2021</h6> — Silk.NET acquired by the .NET Foundation – Microsoft’s open-source umbrella – with
            whom I continue to develop open-source software, concluding the operations of Ultz Limited. Effectively
            orchestrated the transfer of intellectual property rights for Silk.NET to the .NET Foundation, spearheading
            all necessary communications with the involved community stakeholders, ensuring a smooth and transparent
            transition process.
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>September 2020</h6> — Joined L3Harris as a Software Engineer C. L3Harris is a multinational technology
            company & one of the largest defence contractors globally. I worked in the Intelligence & Cyber
            International division, producing a variety of electronic warfare and cyber-security solutions for the UK
            government and its allies.
            <br />
            <br />
            Responsibilities:
            <br />
            <br />
            <ul class="list-disc">
              <li>Designing and developing software components within large embedded systems against system requirements derived from customer input.</li>
              <li>Leading customer-funded collaborative projects, producing software to customer specifications and keeping in regular communication with customer representatives.</li>
              <li>Developing modular electronic warfare software development platforms and cybersecurity solutions built to high-grade security-critical government standards.</li>
              <li>Maintaining critical Test Automation software used for systems testing of high-grade products.</li>
              <li>Working as part of a large, multi-discipline (software, systems, FPGA) team; coordinating & collaborating with the team on software development tasks.</li>
              <li>Running regular inter-project catchups to facilitate communication between the various project software teams within the department, and cross-pollination of the efforts and discoveries therein.</li>
            </ul>
            <br />
            Notable Achievements:
            <br />
            <br />
            <ul class="list-disc">
              <li>Pioneered the Rust programming language and championed the integration of Rust into the internal software ecosystem; pushing the business to use Rust following this. As a result of my work, the company has moved to shift most of its cybersecurity bids to use the Rust language.</li>
              <li>Led the design & development of software symmetric & asymmetric key management/infrastructure simulators against customer specifications. By exploiting modern technology and building high-quality abstractions to accelerate both the production of such tooling and their future agility & reusability within the department, this project took only 6 months and provides strategic opportunities for future development.</li>
              <li>Represented L3Harris at an industry day by delivering a presentation on side-channel analysis in a forum in which both customer and competitor representatives were in attendance.</li>
              <li>Recognised by David Kornick, Corporate President of the Intelligence & Cyber sector, and received an L3Harris Engineering Award.</li>
              <li>Completed an apprenticeship while in this role.</li>
            </ul>
            <br />
            <div class="mx-auto mb-4 grid grid-cols-1 gap-4 md:grid-cols-3">
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://l3harris.com">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/l3harris.webp"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://www.linkedin.com/posts/pete-hoddinott-5546431b_technology-engineers-l3harris-activity-7067166015465353216-Uu2H">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/l3harrisaward.jpeg"/>
              </a>
              <!-- TODO photo of me i hate with dave k -->
            </div>
            <br />
            Skills: C#, C/C++, 3D Graphics, Vulkan, DirectX, Software Design, Community Management
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>June 2019</h6> — Continuing the open-source development Ultz was best known for, I spearheaded the
            creation of Silk.NET – a high-performance GPU graphics & compute library with 74+ contributing software
            developers and used by hundreds of downstream projects.
            <br />
            <br />
            Responsibilities:
            <br />
            <br />
            <ul class="list-disc">
              <li>Managing Silk.NET community outreach to a large userbase, encompassing industry professionals from well-known companies such as Microsoft, Activision Blizzard, and HP to name a few.</li>
              <li>Orchestrating and managing a team collaboration infrastructure to efficiently work as a distributed team and remain in healthy communication. </li>
              <li>Employing consumer-centric strategies to ensure continuity and seamless compatibility of open-source software, catering to the diverse needs of the numerous stakeholders a large userbase has accrues.</li>
              <li>Fostering a culture of knowledge-sharing and growth within the Silk.NET community by providing mentorship and upskilling opportunities to enthusiastic volunteers, enabling them to evolve into proficient maintainers of the Silk.NET library.</li>
            </ul>
            <br />
            <div class="mx-auto mb-4 grid grid-cols-1 gap-4 md:grid-cols-3">
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://github.com/dotnet/Silk.NET">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/silkdotnet.png"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://projecthedra.com">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/projecthedra.png"/>
                <div class="absolute h-min w-full bg-gradient-to-b from-black/70 via-black/70 via-15% p-4 group-first:via-black/70">
                  <div class="text-base drop-shadow-2xl">User Generated Content</div>
                </div>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://store.steampowered.com/app/690290/Territory_Control_2/">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/tcontrol.png"/>
                <div class="absolute h-min w-full bg-gradient-to-b from-black/70 via-black/70 via-15% p-4 group-first:via-black/70">
                  <div class="text-base drop-shadow-2xl">User Generated Content</div>
                </div>
              </a>
            </div>
            <br />
            Skills: C#, C/C++, 3D Graphics, Vulkan, DirectX, Software Design, Community Management
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>October 2018</h6> — The Open Toolkit Project is an open-source project on which I was one of the 3 lead
            developers and maintainers for OpenTK – a low-level C# graphics library similar to Silk.NET with a greater
            focus on legacy applications in which I spearheaded significant ongoing modernisation efforts. I worked with
            the team to optimise their online presence with a redesigned website, and acquired closely-related and/or
            useful projects to OpenTK such as ObjectTK and MathSharp (the author opted to remove MathSharp from the
            project shortly after my departure). As a maintainer, I was responsible for:
            <br />
            <br />
            <ul class="list-disc">
              <li>Managing a large userbase, encompassing many large users such as EPSON.</li>
              <li>Making consumer-orientated decisions and ensuring continuity and compatibility within the library.</li>
              <li>Working in a distributed team.</li>
              <li>Learning a wide range of related technologies such as C and MSIL/CIL.</li>
              <li>Making software for a large community of esteemed developers from experts to beginners.</li>
            </ul>
            <br />
            <div class="mx-auto mb-4 grid grid-cols-1 gap-4 md:grid-cols-3">
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://github.com/opentk/opentk">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/OpenTK.png"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://github.com/opentk/ObjectTK">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/ObjectTK.png"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://github.com/john-h-k/MathSharp">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/MathSharp.png"/>
              </a>
            </div>
            <br />
            Skills: C#, C/C++, 3D Graphics, OpenGL, Static Site Generation, Branding
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>May 2018</h6> — Started development on SoundPrints, my first freelance project under the Ultz umbrella,
            comprising a backend API server written in C#/ASP.NET, an Android application written using Xamarin/C#, and
            a customer relationship management (CRM) portal for managing orders (with Etsy integration for associating a
            sound recorded in-app with a print purchased on Etsy). This project implemented a unique concept: given an
            audio recording (either in-app or from an extant video), you could order a 3D printed waveform and using an
            NFC chip listen to the recording again using the app. This was implemented to the customer's satisfaction
            and was live on the Google Play Store until the customer closed for business.
            <br />
            <div class="mx-auto mb-4 grid grid-cols-1 gap-4 md:grid-cols-3">
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="/images/soundprints.jpeg">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/soundprints.jpeg"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="/images/soundprintsapp.png">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/soundprintsapp.png"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="/images/soundprintswaveform.jpeg">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/soundprintswaveform.jpeg"/>
              </a>
            </div>
            <br />
            Skills: C#, SQL, REST APIs, ASP.NET Core, Xamarin, Android Development
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>April 2018</h6> — Began freelance development under the Ultz organisation and facilitated the
            acquisition of intellectual property relevant to the goals of members thereof. This included SharpDB, an
            open-source high-performance NoSQL database engine written entirely in C#; and Volte a then-closed-source
            Discord automated companion. As part of this addition of freelance development to Ultz's operations, Ultz
            Limited was registered with Companies House, giving me insight into business management and, through the IP
            aquisitions, legal &amp; software licensing.
            <br />
            Skills: C#, SQL, Software Licensing
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>June 2017</h6> — Led Ultz's transition from being exclusively an open-source umbrella to 
            simple utilities for specific use-cases, in collaboration with the other members of the organisation. This
            included RemoteJ - a Universal Windows Platform (UWP) application I solely developed to control Jenkins
            CI instances, Pocketeer - another UWP application for tracking pocket money, developed by another member of
            the organisation with whom I worked to productise and publish the application on the Microsoft Store, and
            Click to Website - a simple GUI-based website creator for which I developed a GitHub-based automatic
            updating mechanism and a modularity-based prototype to expand it for more use cases.
            <br />
            <div class="mx-auto mb-4 grid grid-cols-1 gap-4 md:grid-cols-3">
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://apps.microsoft.com/detail/9n3h90r55cr1">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/pocketeer.png"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://apps.microsoft.com/detail/9N91MB92B877">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/remotej.png"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="#">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/clicktowebsite.png"/>
              </a>
            </div>
            <br />
            Skills: C#, UWP, UI, REST APIs
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>January 2017</h6> — Started development of Prison 3 - a strategic rewrite of the Prison minecraft plugin
            to enable more functionality to be bundled into the Prison plugin in a modular fashion for
            long-term maintainability. The first public prerelease was made available in February 2017, with bug-fixing
            continuing throughout the year until its stable release. Given that I was one of the main authors of
            this rewrite, as opposed to a major contributor as I was for Prison 2, this gave me more control and
            responsibility over the project's direction and community presentation. Through this I oversaw the Discord
            community, including taking user feedback and providing user support, and helped shape this to be a valuable
            resource for anyone using the plugin. Through this, I also worked with third parties to produce tutorial
            content to complement our first-party support, such as the YouTube tutorials produced by Koz4Christ.
            Finally, this gave me experience onboarding new community maintainers onto the project and ensuring a smooth
            transition of product ownership in support of the long-term longevity of the plugin. 
            <br />
            <br />
            Skills: Java, Community Management
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>November 2016</h6> — Created the Ultz umbrella to house the open-source projects and side-projects
            written by my frequent collaborators and I. Started working on a HTTP server library written in C#,
            SimpleServer, to capitalise on the minimalism of the recent DNX and .NET Core 1.0 frameworks and the
            opportunity for such a library thereof. SimpleServer was designed to provide an easy-to-use HTTP interface
            without the large overhead that came with Kestrel, which was the only real option for a HTTP listener at that time.
            <br />
            <br />
            Skills: C#, DNX, .NET Core, Web Development
          </span>
          <div class="t-square"></div>
        </div>
      </div>
      <div class="single-timeline d-flex-2">
        <div class="timeline-text d-flex-2">
          <span>
            <h6>February 2015</h6> — In 2015 I created my GitHub account and, having learnt the Java programming
            language, joined the Prison Minecraft modding project. This was my first exposure to the vast open-source
            community, and granted me the opportunity to gain significant experience in dealing with direct-to-consumer
            software as opposed to the developer-oriented software I would later go on to create. As part of this, I
            also developed a tiny GUI editor for the data files produced and read by the minecraft plugin, in response
            to user feedback that the binary format used could not be edited outside of the plugin. I also led the
            migration over to Google's GSON library for this same reason. Pushed 43 commits (out of 136 total commits in
            this repo), and my work was downloaded by 390,000+ people with over 1300+ positive ratings.
            <br />
            <div class="mx-auto mb-4 grid grid-cols-1 gap-4 md:grid-cols-3">
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://www.spigotmc.org/resources/prison.1223/">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/prison.png"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://github.com/faizaand/Prison">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/prison2gource.png"/>
              </a>
              <a class="group relative h-44 overflow-hidden rounded-xl text-white col-span-1" href="https://github.com/Perksey/PrisonEditor">
                <img class="object-cover transition ease-in-out group-hover:scale-105 typicard" src="/images/prison2dataeditor.png"/>
              </a>
            </div>
            <br />
            Skills: Java, Git, GitHub, AppVeyor CI, Travis CI, WinForms
          </span>
          <div class="t-square"></div>
        </div>
      </div>
    </div>
  </div>
</div>